<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <table>
        <thead>
          <tr></tr>
        </thead>
        <tbody>
          <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.password}"></td>
            <td th:switch="${user.name}">
              <p th:case="'Ramesh'">RAMESH</p>
              <p th:case="*">NA</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
